body {
    height: 100vh;
    background: linear-gradient(#a6fcdd, #8bd6f4);
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    background: rgb(239, 253, 247);
    width: 20rem;
    padding: 3rem;
    border-radius: 1rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    margin-top: 0.2rem;
    padding-bottom: 1.4rem;
}

.text {
    color: #75d4fa;
    font-size: 2rem;
    font-weight: 600;
}

.inputs {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 20rem;
    height: 3rem;
    background: rgb(227, 235, 232);
    border-radius: 0.25rem;
}

.input img {
    margin: 0rem 0.4rem;
}

.input input {
    height: 5rem;
    width: 20rem;
    background: transparent;
    border: none;
    outline: none;
    color: #131414;
    font-size: 1.1rem;
}

.forgot-password {
    padding-right: 12rem;
    padding-top: 0rem;
    color: #797979;
    font-size: 1rem;
}

.submit-container {
    display: flex;
    gap: 1.3rem;
    margin: 1.5rem auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2rem;
    border-radius: 1rem;
    color: #cfffee;
    background-color: #69d5ff;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
}
 
.gray {
    background-color: rgb(229, 236, 242);
    color: #b8baba;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #47a5a1;
    text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0,0,0,0.1);
    letter-spacing: 0.0625rem;
    font-family: 'Poppins', sans-serif; 
}

.submit2 {
    gap: 1.3rem;
    margin: 1rem auto;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    color: #3d5e6b;
    background-color: #b1e4e2;
    border-radius: 1rem;
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
}

.errorMsg {
    color: red;
    margin-top: 0.4rem;
}